SECRET_KEY=django-insecure-example-key
DEBUG=True
DATABASE_URL=postgres://buckland_user:buckland_password@db:5432/buckland_db
REDIS_URL=redis://redis:6379/0
IMAGEKIT_PUBLIC_KEY=your_public_key
IMAGEKIT_PRIVATE_KEY=your_private_key
IMAGEKIT_URL_ENDPOINT=your_url_endpoint
RESEND_API_KEY=your_resend_api_key
FRONTEND_URL=http://localhost:3000
